@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    background-image: url("lidojums.png");
    /* Full height */
    height: 50%;
    /* Center and scale the image nicely */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}


.left-center {
    position: absolute;               /* 2 */
    top: 30%; 
    margin: auto;
    width: 20%;
    border: 0px;
    padding: 10px;
    padding-left: 10%;
    float: left;
    text-align: left;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
  }
  
  /* Media Queries */
@media only screen and (max-width: 340px) {
  
    body {
        background-image: url("lidojums.png");
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
}