@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    background-image: url("lidojums.png");
    /* Full height */
    height: 80%;
    /* Center and scale the image nicely */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}


.left-center {
    position: absolute;               /* 2 */
    top: 30%; 
    margin: auto;
    width: 20%;
    border: 0px;
    padding: 10px;
    padding-left: 10%;
    float: left;
    text-align: left;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
  }
  
  a {
    color: black;
  }
  
  /* Media Queries */
@media only screen and (max-width: 570px) {
  
    body {
        background-image: url("lidojums.png");
        /* Full height */
        /* Center and scale the image nicely */
        background-position-x: 50%;
        background-position-y: 5%;
        background-repeat: no-repeat;
        padding-left: 30%;
        background-size: 130%;
    }

    .left-center {
        text-align: center;
      }
}