body {
    background-image: url("lidojums.png");
    background-color: #ffffff; /* Used if the image is unavailable */
    background-position: top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 50%; /* Resize the background image to cover the entire container */
   }

   .left-center {
    position: absolute;               /* 2 */
    top: 30%; 
    margin: auto;
    width: 20%;
    border: 0px;
    padding: 10px;
    padding-left: 10%;
    float: left;
    text-align: left;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  